*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{

    width: 700px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);;

}

.btn{

    width: 80px;
    background-color: steelblue;
    color:#fff;
    text-align:center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;

    float:left;

}

.btn:hover{

    background-color: darkblue;

}

.year-btn{

    float:right;

}

.clear{

    /* width မဆံလို့အောက်ဆင်းသည်။သို့သော် ကုဒ်ရှင်းအောင်ပေးရသည်။ */
    clear:both;

}

.month-btn,.year-btn{

    position: relative;

}

.dropdown{

    width: 100px;
    background-color: #fff;
    color:#000;
    font-size: 18px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    --webkit-border-bottom-left-radius:5px;
    --webkit-border-bottom-right-radius:5px;

    position: absolute;
    left:0;
    /* top:25px; */

    z-index: 1;

    overflow: hidden;
    display: none;

}

.dropdown.show{

    display: block;

}

.dropdown .dropdown-item{

    padding: 5px 0;
    opacity: .6;
    cursor: pointer;

    transition: all .2s;

}

.dropdown .dropdown-item:hover{

    background-color: steelblue;
    color:#fff;
    opacity: 1;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    --webkit-border-left-radius:5px;
    --webkit-border-right-radius:5px;

}

.caldates .days .dayname{

    background-color: steelblue;
    color:#fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;

}

.caldates .days .day{

    width: 85px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid steelblue;

    padding: 3px;
    margin:3px;

    /* foat left ပေးမှ ပေးထားတဲ့ padding margin ဝင်။ */
    /* label တွေဖြစ်လို့ float ပေးလိုက်မှ inline element ရသွား။ */
    float: left;

}

.caldays.days .day.blanks{

    background-color: #fff;
    border:none;

}